{sub_dirs, ["rel"]}.

{deps, [
    {riak_core, ".*", {git, "git://github.com/basho/riak_core", "master"}},
    {eleveldb, ".*", {git, "git://github.com/basho/eleveldb", "master"}},
    {sext, "1.1", {git, "git://github.com/uwiger/sext", {tag, "1.1"}}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
